html, body {
    padding-left: auto !important;
    padding-right: auto !important;
    margin: 0px !important;
}
#juego {
    max-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#juego-canvas {
    margin-left: auto;
    margin-right: auto;
}
