h1 {
    font-size: 100px !important;
}

.container{
    color: #F2AB18;
}
.cont{
    font-size: 50px !important;
    color: white;
    text-align: center;

}

.opción {
    top: 70%;
}

.cuadro{
    width: 200px;
    min-width: 200px !important;
    height: 200px;
    background: #05A7B9;
    border: 7px solid #F2AB18;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.cuadro:hover{
    /* height: 220px; */
    /* width: 220px; */
    cursor: pointer;
}
