html, body {
    font-family: 'ipixelu' !important;
    margin: 0 !important;
    background-color: #0096A7 !important;
}

h1 {
    font-size: 75px !important;
}

#octolamp {
    width: 100px;
    height: 100px;
}

.opcion {
    font-size: 50px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #0096A7;
    border: 3pt solid #F2AB18;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

:focus {
    color: #F2AB18;
}

/*=FUENTES
------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'ipixelu';
    src: url(../fonts/I-pixel-u.ttf);
}
