<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/style.css">
    <link rel="stylesheet" href="../statics/styles/juego.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../statics/img/pulpito_p2.png" type="image/x-icon">
    <title>Octolamp</title>
</head>
<body>
    <div id="juego">
        <canvas id="juego-canvas"></canvas>
        <div id="overlay" class="box hidden">
            <div id="container-pregunta" class="container">
                <div class="row d-flex justify-content-center">
                    <!-- <h3>Hola</h3> -->
                    <!-- <p>Turno del jugador <span>yeahb</span> -->
                </div>
                <div id="pregunta" class="row">
                    <div class="col">
                        <div class="row mt-3">
                            <div class="col-6">
                                Turno de <strong id="turno-jugador"></strong>
                            </div>
                            <div class="col-6">
                                Valor de pregunta: <strong id="valor-pregunta"></strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col">
                                <span id="es-correcta"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                Tema <strong id="tema-pregunta"></strong>. Matemáticas
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div id="pregunta-texto" class="col">
                                Esta es la pregunta más chistosa de todos los tiempos,
                                es una pregunta muy buena y me gusta, ¿estás de acuerdo?
                            </div>
                        </div>
                        <hr>
                        <div id="opciones" class="row">
                            <div class="row d-flex justify-content-center mt-3">
                                <button id="1" class="opcion">
                                    Opcion 1
                                </button>
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <button id="2" class="opcion">
                                    Opcion 2
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <button id="3" class="opcion">
                                    Opcion 3
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <button id="4" class="opcion">
                                    Opcion 4
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="boton-dado-div">
            <button id="boton-dado">¡Iniciar juego!</button>
        </div>
    </div>
    <script src="../dynamics/menus.js"></script>
    <script src="../dynamics/util.js"></script>
    <script src="../dynamics/Pulpito.js"></script>
    <script src="../dynamics/Dado.js"></script>
    <script src="../dynamics/direcciones-tablero.js"></script>
    <script src="../dynamics/juego.js"></script>
</body>
</html>
